html 
    head 
        title TV Synopsis
        link(rel="stylesheet" href="/css/styles.css")
    body 
        h1 Kim's Convenience  
        h2= `Season ${season.number}`
        table
            tr 
                th No.
                th Title 
                th Director 
            tr 
                for episode in season.episodes
                    td(class="num")= episode.number 
                    td(class="title")= episode.title 
                    td(class="dir")= episode.director 
                    tr 
                        td(colspan='3')= episode.synopsis 
